<aside class="well small">
    <p><i class="fa fa-2x fa-fw fa-info-circle"></i>
        This is a developer journal that features technical writeups, software theory, amateur circuit designs,
        opinions in programming, as well as build progress updates on my Smart Amp project.  Most of the
        early content was hand written in notebooks and has been transcribed and formatted for the
        web.
    </p>

    <div class="post-meta">
        <div class="post-meta-data">
            <i class="fa fa-fw fa-2x fa-clock-o"></i> Site Last Updated <span class="js-date" title="{{builddate}}">{{builddate}}</span>
        </div>
    </div>
</aside>