<aside id="main-info" class="theme-dark">

    <div class="logo">
        <a href="/">
            <img src="/assets/img/core-circle.png">
            <h1 class="title">Spark Amp</h1>
            <p class="subtitle">A wireless audio amplifier for home audio distribution and automation</p>
        </a>
    </div>

    <!--
    <div class="navigation">
        <ul>
            <li><a href="">Dev Journal</a></li>
            <li><a href="">Pictures</a></li>
            <li><a href="">Code</a></li>
            <li><a href="">Music</a></li>
        </ul>
    </div>
    -->

    <div class="bottom">

        <div class="powered-by">
            <p><img src="/assets/img/core-spark-100.png" width="35px"></p>

            <p>Powered by Spark Devices</p>
        </div>

        <div class="copyright">
            <p>Copyright &copy; 2014 Christopher Mason</p>
        </div>

    </div>

</aside>