/* ==========================================================================
   C O L U M N S
   ========================================================================== */
/* Rows and Percentage Columns */
.row {
  *zoom: 1;
  width: 100%;
}
.lt-ie9 .row {
  overflow: hidden;
}
.row::before,
.row::after {
  content: "";
  display: table;
}
.row::after {
  clear: both;
}
.row > * {
  float: left;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.column {
  float: left;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Size Specific Column Breakpoints */
.size-mobile .row.break-mobile > *,
.size-tablet .row.break-tablet > *,
.size-desktop .row.break-desktop > *,
.size-large .row.break-large > * {
  width: 100%;
}
.one-up > * {
  width: 100%;
}
.two-up > * {
  width: 50%;
}
.three-up > * {
  width: 33.333333333333336%;
}
.three-up .span2 {
  width: 66.66666666666667%;
}
.four-up > * {
  width: 25%;
}
.four-up .span2 {
  width: 50%;
}
.four-up .span3 {
  width: 75%;
}
.five-up > * {
  width: 20%;
}
.five-up .span2 {
  width: 40%;
}
.five-up .span3 {
  width: 60%;
}
.five-up .span4 {
  width: 80%;
}
.six-up > * {
  width: 16.666666666666668%;
}
.six-up .span2 {
  width: 33.333333333333336%;
}
.six-up .span3 {
  width: 50%;
}
.six-up .span4 {
  width: 66.66666666666667%;
}
.six-up .span5 {
  width: 83.33333333333334%;
}
.seven-up > * {
  width: 14.285714285714286%;
}
.seven-up .span2 {
  width: 28.571428571428573%;
}
.seven-up .span3 {
  width: 42.85714285714286%;
}
.seven-up .span4 {
  width: 57.142857142857146%;
}
.seven-up .span5 {
  width: 71.42857142857143%;
}
.seven-up .span6 {
  width: 85.71428571428572%;
}
.eight-up > * {
  width: 12.5%;
}
.eight-up .span2 {
  width: 25%;
}
.eight-up .span3 {
  width: 37.5%;
}
.eight-up .span4 {
  width: 50%;
}
.eight-up .span5 {
  width: 62.5%;
}
.eight-up .span6 {
  width: 75%;
}
.eight-up .span7 {
  width: 87.5%;
}
