{{> header}}

<section id="main-content" class="theme-light post-listing">



    <div class="text-divider">
        <span>And Now Onto the Posts</span>
    </div>

    {{#if articles }}
    {{#each articles }}

    <article class="post">

        <h2 class="post-title"><a href="{{ path }}">{{title}}</a></h2>

        <p>You're live! Nice. We've put together a little post to introduce you to the Ghost editor and get you
            started. You can manage your content by signing in to the admin area at <code>&lt;your blog URL&gt;/ghost/</code>.
            When you arrive, you can select this post from a list on the left and see a preview of it on the right.
            Click the little pencil icon at the top of the preview to edit this post and read the next section!</p>
        <p><a href="{{ path }}" class="btn btn-primary btn-icon-right">Continue Reading <i class="fa fa-chevron-right"></i></a></p>

        <div class="post-meta">
            <div class="post-meta-data"><i class="fa fa-clock-o"></i> Posted <span class="js-date" title="{{date}}">{{date}}</span></div>
            <div class="post-meta-data"><i class="fa fa-tags"></i> Hardware, Photos</div>
        </div>

    </article>

    <hr>

    {{/each}}
    {{/if}}

    <!--
    <article class="post">

        <h2 class="post-title"><a href="music.html">This is a Music Post</a></h2>

        <div class="post-content">
            <p>Slow burner, heavy bass, put on the headphones or turn up the sub.</p>
            <p><iframe src="https://embed.spotify.com/?uri=spotify:track:3SqeQZ605Fx6O2tQGos8hA&view=coverart" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe></p>
        </div>

        <div class="post-meta">
            <div class="post-meta-data"><i class="fa fa-clock-o"></i> Posted <span class="js-date">06-29-2014</span></div>
            <div class="post-meta-data"><i class="fa fa-tags"></i> Software, Theory</div>
        </div>

    </article>

    <hr>
    -->

</section>

{{> footer}}