{{> header}}

<section id="main-content" class="theme-light post-listing">

    <article class="post post-sticky well small">
        <p><i class="fa fa-2x fa-fw fa-info-circle"></i>
            This site is a developer journal that features technical writeups, software theory, amateur circuit designs,
            opinions in programming, build progress updates and pictures, as well as the occasional embedded techno or
            house track.
        </p>
        <p>
            I hope this will be a starting point for an open source hardware project. For more information
            on Smart Amp, please <a href="introduction.html">read my introduction post.</a>
        </p>
        <div class="post-meta">
            <div class="post-meta-data"><i class="fa fa-fw fa-2x fa-clock-o"></i> Site Last Updated <span class="js-date" title="{{date}}">{{date}}</span></div>
        </div>
    </article>

    <div class="text-divider">
        <span>And Now Onto the Posts</span>
    </div>

    {{#if articles }}
    {{#each articles }}

    <article class="post">

        <h2 class="post-title"><a href="{{ path }}">{{title}}</a></h2>

        {{excerpt}}

        <div class="post-meta">
            <div class="post-meta-data"><i class="fa fa-clock-o"></i> Posted <span class="js-date" title="{{date}}">{{date}}</span></div>
            <div class="post-meta-data"><i class="fa fa-tags"></i> Hardware, Photos</div>
        </div>

    </article>

    <hr>

    {{/each}}
    {{/if}}

    <!--
    <article class="post">

        <h2 class="post-title"><a href="music.html">This is a Music Post</a></h2>

        <div class="post-content">
            <p>Slow burner, heavy bass, put on the headphones or turn up the sub.</p>
            <p><iframe src="https://embed.spotify.com/?uri=spotify:track:3SqeQZ605Fx6O2tQGos8hA&view=coverart" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe></p>
        </div>

        <div class="post-meta">
            <div class="post-meta-data"><i class="fa fa-clock-o"></i> Posted <span class="js-date">06-29-2014</span></div>
            <div class="post-meta-data"><i class="fa fa-tags"></i> Software, Theory</div>
        </div>

    </article>

    <hr>
    -->

</section>

{{> footer}}