{{> header}}

<section id="main-content" class="theme-light post-detail">

    <article class="post">

        <header class="post-meta">
            <div class="post-meta-data">
                <i class="fa fa-clock-o"></i>
                Posted <time pubdate datetime="{{date}}" title="{{date}}" class="js-date">{{date}}</time>
            </div>
            {{> tags}}
        </header>

        <hr>

        <h1 class="post-title">{{title}}</h1>

        <div class="post-content">
            {{{contents}}}
        </div>

        <div class="post-footer">

            <div class="text-divider">
                <span>That's all for now</span>
            </div>

            {{#if next}}
            <div class="section">
                <h4><i class="fa fa-fw fa-chevron-circle-right"></i>Up Next: <a href="/{{next.path}}">{{next.title}}</a></h4>
            </div>
            {{/if}}

            <!--
            <div class="section">
                <h4><i class="fa fa-fw fa-history"></i>Related Posts</h4>
                <ul>
                    <li><a href="#">Some sort of post here</a></li>
                    <li><a href="#">Another post that's related</a></li>
                </ul>
            </div>
            -->

            {{#if prev}}
                <div class="section">
                    <h4><i class="fa fa-fw fa-chevron-circle-left"></i>Previously: <a href="/{{prev.path}}">{{prev.title}}</a></h4>
                </div>
            {{/if}}

            <div class="section">
                <h4><i class="fa fa-fw fa-github"></i>by <a href="{{author.website}}" target="_blank">{{author.name}}</a></h4>
            </div>

            <div class="section">
                <h4><i class="fa fa-fw fa-home"></i><a href="/">Main Index</a></h4>
            </div>

            <!--

            <hr>

            <div class="section">

                <!--
                <h4>Comments</h4>
                <a href="#disqus_thread" class="btn btn-lg js-show-comments">Show Comments</a>

                <script type="text/javascript">
                    var disqus_shortname = 'smartamp';
                    (function() {
                        var s = document.createElement('script');
                        s.async = true;
                        s.type = 'text/javascript';
                        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                    }());
                </script>



                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'smartamp';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>


            </div>

            -->

        </div>

    </article>

    <div class="text-divider">
        <span>About this Site</span>
    </div>

    {{> about}}

</section>

{{> footer}}