@import "_mixins";

/* ==========================================================================
   T H E M E S
   ========================================================================== */

.logo .title {
    font-family: Lato, sans-serif;
}


.theme-light {

    color: @theme-light-body;
    background: @theme-light-background;

    a {
        color: @theme-light-links;
        font-weight: bold;
    }

    hr {
        border-color: @theme-light-divider;
    }

    blockquote {
        border-color: @theme-light-divider;
    }

    h1,h2,h3,h4,h5,h6 {
        & {
            color: @theme-light-heading;
        }
        a {
            color: @theme-light-links;
        }
    }

    *::selection {
        background: @theme-light-body;
        color: @theme-light-background;
    }

    *::-moz-selection {
        background: @theme-light-body;
        color: @theme-light-background;
    }

    code {
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
    }

    pre, .well {
        color: @theme-light-code;
        background-color: #f5f5f5;
        border: 1px solid @theme-light-divider;
        border-radius: 4px;
    }

    pre code {
        color: inherit;
        background-color: transparent;
        border-radius: 0;
    }

    .post-title {
        a {
            color: @theme-light-heading;
        }
    }

    .post-content,
    .post-excerpt {
        p > img {
            border: 1px solid @theme-light-divider;
        }
    }

    .post-footer i {
        color: @theme-light-heading;
    }

    .btn-primary {
        &, a& { color: white; }
        background-color: @theme-light-primary-btn;
        border-color: darken(@theme-light-primary-btn, 5%)
    }

    .text-divider {

        color: @theme-light-bullet;

        &:after {
            border-color: @theme-light-divider;
        }

        span {
            background: @theme-light-background;
        }
    }

}

.theme-dark {

    color: @theme-dark-body;
    background: @theme-dark-background;

}
