/* ==========================================================================
   T H E M E S
   ========================================================================== */
.theme-light {
  color: #666666;
  background: #f0f0f0;
}
.theme-light h1,
.theme-light h2,
.theme-light h3,
.theme-light h4,
.theme-light h5,
.theme-light h6,
.theme-light .h1,
.theme-light .h2,
.theme-light .h3,
.theme-light .h4,
.theme-light .h5,
.theme-light .h6 {
  color: #333333;
  font-family: Lato, sans-serif;
}
.theme-light .caption {
  color: #999999;
}
.theme-dark {
  color: #ffffff;
  background: #333333;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark .h1,
.theme-dark .h2,
.theme-dark .h3,
.theme-dark .h4,
.theme-dark .h5,
.theme-dark .h6 {
  color: #00adef;
}
.theme-dark .caption {
  color: #ffffff;
}
